<!DOCTYPE HTML>
  <html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Register</title>
	<link rel="stylesheet" th:href="@{/asset/css/style.css}" type="text/css">
	<script type="text/javascript" th:src="@{/asset/js/register.js}"></script>
	<link rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<div id="wrap-register">
		<div id="register-form">
			<h2 class="tag-login">Register</h2>
			<form action="doRegist" th:object="${user}" method="POST" id="registForm">
				<label>User name</label> 
				<input id="user_name" type="text" class="form-control" placeholder="Username" aria-label="Username" name="userName" required>
				<p id="check_message"></p>
			    <label>Password</label> 
				<input id="password" type="password" class="form-control" placeholder="Password" aria-label="Password" name="passWord" required>
				<label>Re-Password</label>
				<input id="re_password" type="password" class="form-control" placeholder="Re-Password" aria-label="Re-Password" required>
				<p id="re_password"></p>
				<label>First Name</label> 
				<input id="first_name" type="text" class="form-control" placeholder="First name" aria-label="fist name" name="firstName" required>
				<label>Last Name</label>
				<input id="last_name" type="text" class="form-control" placeholder="Last name" aria-label="last Name" name="lastName" required>
				 </br> 
				<button id="btnRegist" class="btn btn-primary login-btn" >Register</button>
			</form>
		</div>
	</div>
</body>
</html>